.clangd

build
log
src/model/*.h
src/model/*.cc

compile_commands.json
compile_flags.txt

# VIM
*.swp

# Qt creator
*.cflags
*.config
*.creator
*.user
*.cxxflags
*.files
*.includes

#Mac
.DS_Store

#VS Code
.vscode
